* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root{
  --primaryColor : #1abc9c;
  --secondaryColor: #2c3e50;
}

/*===================================== HEADER CSS START =====================================*/
header {
  display: flex;
  align-items: center;
  padding: 20px 80px 20px 80px;
  justify-content: space-between;
  background-color: var(--secondaryColor);
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.menu button {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  color: white;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 8px;
}

.menu {
  display: none;
}
/*===================================== HEADER CSS END =====================================*/

/*===================================== HERO CSS START =====================================*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 80px;
  color: white;
  text-align: center;
  gap: 10px;
}

.hero h1,
.card h1,
.about h1,
.contact h1 {
  font-size: 44px;
}

.hero img {
  width: 250px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img:first-child {
  height: 30px;
  width: 100px;
}

.img img:last-child {
  height: 30px;
  width: 100px;
}

.img img:nth-child(2) {
  height: 50px;
  width: 50px;
}
.hero p {
  font-size: 22px;
}
/*===================================== HERO CSS END =====================================*/

/*===================================== CARD CSS START =====================================*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}

.row {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.row img {
  width: 340px;
  border-radius: 12px;
}
/*===================================== CARD CSS END =====================================*/

/*===================================== ABOUT CSS START =====================================*/
.about {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding: 80px;
  color: white;
  gap: 20px;
}

.para {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.para p {
  color: white;
  width: 340px;
  word-spacing: 4px;
  font-size: 22px;
}

.about button {
  margin-top: 20px;
  border: 2px solid white;
  background-color: var(--primaryColor);
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
}
/*===================================== ABOUT CSS END =====================================*/

/*===================================== CONTACT CSS START =====================================*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}

.inp {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.inp input,
.inp textarea {
  border: none;
  border-bottom: 1px solid grey;
  width: 55vw;
  line-height: 80px;
  font-size: 24px;
}

.inp input:focus,
.inp textarea:focus {
  outline: none;
}

.inp button {
  margin-top: 10px;
  padding: 15px 25px 15px 25px;
  border-radius: 8px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  font-size: 18px;
  align-self: flex-start;
}
/*===================================== CONTACT CSS END =====================================*/

footer {
  display: flex;
  background-color: var(--secondaryColor);
  margin-top: 80px;
  color: white;
  flex-direction: column;
}

.parent-1 {
  display: flex;
  justify-content: space-around;
  padding:80px 0px 80px 60px;
  text-align: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 220px;
}

.box1 p {
  font-size: 20px;
}

.box3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.box3 p {
  font-size: 20px;
}
.box3 p a{
  color: var(--primaryColor);
}
.box2 .icons i{
  font-size: 40px;
}

.icons{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.parent-2{
  background-color: #1A252F;
  text-align: center;
  padding: 20px;
}